.brand-logo{
    font-family: 'Josefin Slab', serif;
    }
    
    .input-field input[type=text]:focus+label {
      color: rgb(220, 117, 20);
    }

    .input-field input[type=text]:focus {
      border-bottom: 2px solid rgb(220, 117, 20);
      box-shadow: none;
    }

    body {
      background-color: #ff6d01;
    }

    .container-fluid {
      background-color: white;
    }