body {
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh;
  }
  main {
    flex: 1 0 auto;
    padding-top: 25px;
  }

  body {
    background: #fff;
  }

  .input-field input[type=date]:focus+label,
  .input-field input[type=text]:focus+label,
  .input-field input[type=email]:focus+label,
  .input-field input[type=password]:focus+label {
    color: #ff6d01;
  }

  .input-field input[type=date]:focus,
  .input-field input[type=text]:focus,
  .input-field input[type=email]:focus,
  .input-field input[type=password]:focus {
    border-bottom: 2px solid #ff6d01;
    box-shadow: none;
  }